@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import "tailwindcss";

:root {
  --color-master: linear-gradient(
    347.09deg,
    #283E56 -14.24%,
    #F9213C 115.83%
  );
}

@font-face {
  font-family: "Jomhuria";
  src: url("./assets/fonts/Jomhuria-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Colors */
  --color-red: #BA2121;
  --color-green: #21BA45;
  /* General */
  --color-darkest: #121212;
  --color-dark: #171717;
  --color-light: #4B4B4B;
  --color-lightest: #FFFFFF;
  /* Rank colors */
  --color-unranked: #443B59;
  --color-bronze: #E06A36;
  --color-silver: #B5A5B7;
  --color-gold: #F6A51E;
  --color-platinum: #91E8E0;
  --color-diamond: #5DDFF4;
  --color-master: #6847BA;
  /* Rank gradients */
  --gradient-grandmaster: linear-gradient(to top, #283E56 -9%, #F9213C 100%);
  /* Font stuff */
  --font-sans: "Jomhuria", "sans";
  --font-serif: "Marmelad", "sans-serif"
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* Sans */
h1,
h2 {
  line-height: 16px;
}

/* Text gradient */
.text-grandmaster {
  background: var(--gradient-grandmaster);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.bg-grandmaster {
  background: var(--gradient-grandmaster);
}