@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Marmelad&display=swap');
@import "tailwindcss";

@theme {
  /* Colors */
  --color-red: #BA2121;
  --color-green: #21BA45;
  /* General */
  --color-darkest: #121212;
  --color-dark: #171717;
  --color-light: #4B4B4B;
  --color-lightest: #FFFFFF;
  /* Rank colors */
  --color-unranked: #;
  --color-bronze: #;
  --color-silver: #;
  --color-gold: #F6A51E;
  --color-platinum: #;
  --color-diamond: #5DDFF4;
  --color-master: #;
  --color-grandmaster: #;

  --font-sans: "Jomhuria", "sans";
  --font-serif: "Marmelad", "sans-serif"
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

@layer utilities {
  .font-sans {
    --tw-leading: calc(var(--spacing) * 4) /* 0.75rem = 12px */;
    line-height: calc(var(--spacing) * 4) /* 0.75rem = 12px */;
    margin-bottom: -0.1em;
  }
}
